/* ===== RESET BÁSICO ===== */
*{
    margin:0;
    padding:0;
}

/* ===== BODY ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f7fa;
    padding:30px;
    max-width:600px;
    margin:auto;
}

/* ===== TÍTULO ===== */
h1{
    text-align:center;
    margin-bottom:25px;
}

/* ===== BOTÓN ===== */
button{
    background-color:#2563eb;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    margin-bottom:20px;
    transition:0.2s;
}

button:hover{
    background-color:#1e40af;
}

/* Estilos para el botón Eliminar
que añadimos en el script */
li button {
    background:#dc2626;
    margin-left:10px;
}

li button:hover{
    background:#991b1b;
}

/* ===== LISTA ===== */
ul{
    list-style:none;
    background:white;
    border-radius:10px;
    padding:15px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* ===== ELEMENTOS LISTA ===== */
li{
    padding:10px;
    border-bottom:1px solid #eee;
}

li:last-child{
    border-bottom:none;
}